---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

const allPosts = await getCollection("posts");
---

<Layout title="All Posts">
  <h1>All Posts</h1>
  <ul class="flex gap-16 flex-wrap">
    {
      allPosts.map((post) => (
        <li>
          <a href={`/AstroFez/posts/${post.slug}`}>
            <Image
              src={post.data.image.url}
              alt={post.data.image.alt}
              width={600 / 2}
              height={400 / 2}
              transition:name={"post-image-" + post.slug}
              class="rounded-lg"
            />
            {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
