---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col items-center">
    <h1>Welcome to Astro</h1>
    <p>
      {
        Array.from({ length: 24 }, (_, index) => (
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            repudiandae labore voluptatem, odio officia dolores ipsam, sint
            laudantium accusamus neque odit! Quibusdam cumque similique
            blanditiis molestiae mollitia facere quia eaque.
          </p>
        ))
      }
    </p>
  </main>
</Layout>
