<nav
  class="flex h-12 w-full border-b-2 justify-between items-center px-32 xl:px-64 bg-primary-950 text-primary-50 font-mono"
>
  <span>FezAstro</span>
  <ul class="flex justify-between gap-2 hover:*:text-purple-600">
    <li><a href="/AstroFez/">Home</a></li>
    <li><a href="/AstroFez/about">About</a></li>
    <li><a href="/AstroFez/blog">Blog</a></li>
  </ul>
</nav>
