---
import { ViewTransitions } from "astro:transitions";
import FezNav from "../components/FezNav.astro";
import FezFooter from "../components/FezFooter.astro";
import "../css/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="relative pb-24" style="min-height: 100dvh;">
    <FezNav />
    <div
      class="relative grid mx-4 mt-8 gap-y-4 grid-rows lg:grid-cols-4 lg:gap-x-8 lg:mx-32 xl:gap-x-16 xl:mx-64"
    >
      <div>
        <ul
          class="sticky hidden px-4 py-4 rounded-lg lg:block bg-primary-950 text-primary-50 top-8"
        >
          {
            Array.from({ length: 12 }, (_, index) => (
              <li>{`list item ${index + 1}`}</li>
            ))
          }
        </ul>
      </div>

      <div class="col-span-3"><slot /></div>
    </div>
    <FezFooter />
  </body>
</html>
